[core]
	editor = /usr/local/Cellar/emacs/24.1/Emacs.app/Contents/MacOS/Emacs -nw -Q
	excludesfile = /Users/elliott/.gitignore_global

[user]
	name = Elliott Wood
	email = elliott@two-fish.com
[github]
	user = ewoodh2o
[color]
	ui = 1
